<%= simple_form_for @person do |form| %>

  <%= form.input :first %>
  <%= form.input :last %>  
  <%= form.input :birth, start_year: 1750, end_year: 2020, include_blank: true %>
  <%= form.input :death, start_year: 1750, end_year: 2020, include_blank: true %>
  <%= form.input :nationality %>
  <%= form.input :birthplace %>
  <%= form.input :gender %>
  
  <%= form.association :publications %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
